div#main{
	position:relative;
	width:100%;
	height:100%;
	border: 2px solid;
}

div#gameinfo{
	position:relative;
	width:100%;
	height:6%;
	border: 2px solid;
}
div#JetTo{
		top:0;
		left:0;
		position:absolute;
		width:33%;
		height:33%;
		
	}
div#Days{
		top:0;
		left:33%;
		position:absolute;
		width:33%;
		height:33%;
	}
div#Coat{
		top:0;
		left:66%;
		position:absolute;
		width:33%;
		height:33%;
	}

div#Cash{
		top:34%;
		left:0;
		position:absolute;
		width:33%;
		height:33%;
	}
div#Debt{
		top:34%;
		left:33%;
		position:absolute;
		width:33%;
		height:33%;
	}
div#Bank{
		top:34%;
		left:66%;
		position:absolute;
		width:33%;
		height:33%;
	}
div#CurrentLoc{
		bottom:0;
		left:0;
		position:absolute;
		width:33%;
		height:33%;
	}
div#Guns{
		bottom:0;
		left:33%;
		position:absolute;
		width:33%;
		height:33%;
	}
div#Health{
		bottom:0;
		left:66%;
		position:absolute;
		width:33%;
		height:33%;
	}


div#maininfo{
	position:relative;
	width:100%;
	height:11%;
	border: 2px solid;
}

div#news{
	top:18%;
	left:0;
	position:absolute;
	width:50%;
	height:24%;
	border: 2px solid;
}

div#side{
	top:18%;
	right:-.75%;
	position:absolute;
	width:50%;
	height:24%;
	border: 2px solid;
}

div#city{
	bottom:0;
	left:0;
	position:absolute;
	width:50%;
	height:57%;
	border: 2px solid;
}

div#drugs{
	bottom:0;
	right:-.75%;
	position:absolute;
	width:50%;
	height:57%;
	border: 2px solid;
}
